aside {
    display: flex;
}

.outerChat___Container {
    background-color: gray;
    border: #403D39 4px solid;
    border-radius:10px;
}

#chatH2__container {
    font-size: 20px;
    background-color: #FF9F1C;
    border-radius: 43px;
    height: fit-content;
    margin: 10px;
    border: white 2px solid;
}
#chatH2 {
    text-shadow: 1px 1px 1px darkgray;
    display: flex;
    justify-content: center;
}

#sendMessageButton {
    background: #FF9F1C;
    border-radius: 5px;
}

#newMessageContent {
    background-color: white;
    width: 100%;
    
}