@import "chat.css";

* {
    box-sizing: border-box; 
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: 'Squada One', cursive;}

.outer-col-2 {
    /* background: gray; */
    display: flex;
    flex-direction: column;
    flex: 5;
}
.inner-row {
    display: flex;
    flex-direction: row;
    border: gold 7px solid;
}
.inner-col {
    flex: 4;
    border: black 7px solid;
}
.header__container {
    border: green 7px dashed;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 30%; 
    height: 25vh;
}

.header h1{
    margin-left: 15%;
    font-size: 80px;
    font-family:'Squada One', cursive;
    color: #FF9F1C;
    text-shadow: 1px 1px 1px #000;
}

.header img {
    float: left;
    width: auto;
    height: 120px;
}

.inner-row #friends {
    min-height: 20vh;
    border: hotpink 7px dashed; 
}
.inner-row #news {
    min-height: 20vh;
    border: purple 7px dashed;
}
.inner-row #events {
    min-height: 20vh;
    border: yellowgreen 7px dashed;
}
  
.inner-row #tasks {
  	border: blue 7px dashed; 
    height: 20vh;
}

aside #messaging {
    flex: 1.5;
    border: red 7px dashed;
}

header, footer, article, nav, aside, section {
    padding: 1em;
}